<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/{{{style}}}">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
