<div class="main-div">
  <h1>Add movies</h1>
  <form action="/movies/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Title</td>
              <td><input type="text" name="title" /></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea name="description"></textarea></td>
            </tr>
            <tr>
              <td>Director</td>
              <td><input type="text" name="director" /></td>
            </tr>
            <tr>
              <td>Year</td>
              <td><input type="text" name="year" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
</div>
